{%extends 'youtube_app/basic.html'%}
{%load humanize%}
{%load static%}
{%block title%}History{%endblock%}
{%block css%}
<link rel="stylesheet" href="{%static 'css/history.css'%}">
{%endblock%}
{%block history%}

<div class="history-content">
    <div class="messages">
    {%if messages%}
    {%for message in messages%}
    <div id="alert-ajax">
   
     </div>
     {%endfor%}
     {%endif%} 
     </div>
  
    
     <div class="history-videos">
        <div class="clear-history">
            <p style="font-size:20px; ">• &nbsp; History &nbsp;Videos:</p>
            <a href="/youtube/history/remove/1abc745bf-g"><button>Clear All Watch History</button></a>
         </div>
        {%if videos%}
    {%for history_video in videos%}


        <div class="history-video-content"  >
            
            <div class="img-video">
                <a href="/youtube/video/{{history_video.videos.video_id}}"><img src="{{history_video.videos.video_thumbnail.url}}"></a>
                <p>{{history_video.videos.video_duration}}</p>
            </div>
            <div class="right-history">
                <div class="history-content-title">
                    <a href="/youtube/video/{{history_video.videos.video_id}}"><p>{{history_video.videos.video_title}}</p></a>
                </div>
                <div class="history-meta-stuff">
                    <img src="{%static 'img/user.png'%}">
                    <p>{{history_video.videos.video_channelname}}</p> 
                    <img class="channel-verify-later" src="{%static 'img/verify.png'%}">
                </div>
                <div class="history-meta-stuff-2">
                    <p>{{history_video.videos.video_views}} views</p>
                    <p class="time-later">{{history_video.videos.video_timestamp|naturaltime|truncatechars:"7" }} ago </p>
                    <a href="/youtube/history/remove/{{history_video.videos.video_id}}" onclick="remove_video(event,'/youtube/history/remove/{{history_video.videos.video_id}}')"><button type="button" class="btn btn-secondary btn-prevent" >Remove</button></a>
                </div>
            </div>  
        </div>
        {%endfor%}
        {%else%}
        <div class="no-video"><p>Sorry, No videos Found</p></div>
        {%endif%}
     </div>
     
</div>


{%endblock%}

{%block script%}
<script>
function remove_video(event,url){
    event.preventDefault();
    $.ajax({
     type:"GET",
     url:url,
     dataType:"json",
     success:function(response){
     if (response.success){
        const card=event.target.closest('.history-video-content')
        if(card){
            card.remove();
        }
     }
     else{
        $('#alert-ajax').empty();
        $.each(response.messages,function(index,message){
        var message_div=` <div class="alert alert-${message.tags} alert-dismissible fade show" role="alert" id="closealert">
   ${message.message}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>`;
  $('#alert-ajax').append(message_div);
        });
     }
     }
     });
}
</script>
{%endblock%}