.uservideo-content::-webkit-scrollbar-thumb{
    background: #717171;
}
.uservideo-content{
    display: flex;
    max-height: 80vh;
    overflow-y: scroll;
    flex-direction: row;
    justify-content:flex-start;
    width:80vw !important;
    padding-left:20px;
}
.user-videos{
    display: flex;
    flex-direction: column;
    padding-block:15px;
    gap:5px;
}
.user-videos p{
   background: transparent;
}

.user-video-content{
    display: flex;
    flex-direction: row;
    gap:20px;
    padding:20px;
    width:70vw;
    
}
.user-video-content:hover{
    background-color: #322e2e;
    border-radius: 20px;
    }

.img-video p{
    width:14%;
    position: relative;
    left:87%;
    bottom: 11%;
    border:solid black !important;
    background: black !important;;
}
.img-video img{
    width: 300px;;
    border-radius: 15px;
}
.img-video{
    background: transparent;
}
.right-user-content{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    background: transparent;
    
}
.uservideos-meta-stuff{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5%;
    background: transparent;
    white-space: nowrap;
}
.uservideos-meta-stuff p{
   position: relative;
   top:20%;
   right: 2%;
}
.uservideos-meta-stuff img{
    width:38px;
    height:38px;
    background: transparent;
}
.uservideos-meta-stuff-2{
    display: flex;
    flex-direction: row;
    background: transparent;
    white-space: nowrap;
    margin-top: 3%;
    gap:15%;
    
}

.channel-verify-later{
    width:20px !important;
    height:20px !important;
}
.user-content-title{
    background: transparent;
}
.btn-prevent{
    height:40px !important;
}
.uploaded-videos{
padding-left: 25px;
}
.sidebar{
    display:flex ;
}
.sidebar.hamburger{
    display: none;
}
@media only screen and (max-width:630px) {
    .img-video img{
        width: 200px;
        border-radius: 15px;
    }
}
@media only screen and (max-width:775px) {
    .clear-history{
        margin-top:5%;
    }
}
@media only screen and (max-width:509px) {
    .history-content{
        font-size: 10px;
    }
    .img-video img{
        width: 100px;
        border-radius: 15px;
    }
   
}
@media only screen and (max-width:775px) {
  .sidebar{
    display: none;
  }
  .sidebar.hamburger{
    display: flex;
    position: absolute;
  }
  .navbar{
    height:20vh;
  }
   
}
@media only screen and (max-width:724px) {
    .uservideos-meta-stuff-2{
       flex-wrap: wrap;       
    }
   
}